.logo {
    font-family: Bangers;
    font-size: xx-large;
}
.logo-font {
    font-family: Bangers;
}
.dashboard-button {
    background-position: center;
    background-size: cover;
}
.dashboard-button:hover {
    background-blend-mode: luminosity;
}
.dashboard-button h3 {
    text-shadow: 1px 1px black;
}