.logo {
  font-family: Bangers;
  font-size: xx-large;
}
.logo-font {
  font-family: Bangers;
}

.dashboard-button-wrapper {
  position: relative;
  background: linear-gradient(
    rgba(146, 146, 146, 0.068),
    rgba(165, 165, 165, 0.062)
  );
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(29, 29, 29, 0.24), transparent);
}

.dashboard-button-wrapper:hover img {
  -webkit-filter: blur(3px);
  filter: blur(0px) grayscale(0%);
  transition: all 0.5s ease;

}

.card-img-bg {
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  filter: blur(2px) grayscale(90%);
  transition: all 0.5s ease;
}

.card-img-bg,
.dashboard-button-wrapper,
.overlay {
  transition: 0.4s all;
}

.nopadding {
  padding: 0;
  margin: 0;
}

.title {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
