<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/header') %>
	<body>
			<div class="container">
				<%- include ('nav') %>
				<a href="/admin/delete-all-users/" class="btn btn-success">Delete All Users</a>
				<a href="/admin/delete-all-projects/" class="btn btn-success">Delete All Projects</a>
			</div>
			<%- include ('../partials/footer') %>
	</body>
</html>