<nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
      <a href="/admin" class="navbar-brand">
        <span class="logo"><%= title %></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar"
        aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item"><a href="/admin" class="nav-link ">Home</a></li>
          <li class="nav-item"><a href="/admin/users" class="nav-link ">Users</a></li>
          <li class="nav-item"><a href="/admin/projects" class="nav-link ">Projects</a></li>
        </ul>
      </div>
    </div>
  </nav>