<div class="container">
    <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x">
        <div id="toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex justify-content-center">
                <div class="toast-body">
                    <div class="jumbotron">
                        <% if(isAuthenticated) { %>
                            <h2>You are logged in.</h2>
                            <% } else { %>
                                <h2>You are logged out.</h2>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>