<div class="modal fade" id="signup-p<%=project.id%>" tabindex="-1" aria-labelledby="confirmSignUpModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmSignUpModalLabel">Sign up for the project: <%=project.name %>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <a class="btn btn-danger text-decoration-none" href="/project-signup/<%=project.id%>">Sign
          Up</a>

      </div>
    </div>
  </div>
</div>