<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body>
    <div class="container">
      <%- include ('partials/nav') %>
        <h1>Dashboard</h1>
        <h2 class="jumbotron">
          <%= JSON.stringify(data) %>
        </h2>

        <button class="btn btn-primary">
          <a href="/projects-add" class="nav-link ">Project Add</a>
        </button>
        <button class="btn btn-primary">
          <a href="/projects-signup" class="nav-link ">Project Sign Up</a>
        </button>
    </div>
    <%- include ('partials/footer') %>
  </body>

</html>