<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body>
	<%- include ('partials/loginToast') %>

	<div class="container">
	  <%- include ('partials/nav') %>
		<% if(isAuthenticated) { %>
		  <div class="jumbotron">
			<h2>This is jumbotron</h2>
		  </div>
		  <% } %>
	</div>
	<%- include ('partials/footer') %>
	
	<!-- Toast Code -->
	<% if (isAuthenticated ){ %>
		<script>
			const isFirstView = localStorage.getItem('isFirstView') || '';
			
			// localStorage only stores strings
			if (isFirstView !== "true") {
				localStorage.setItem('isFirstView', true);
				const myToastEl = document.getElementById('toast')
				bootstrap.Toast.getOrCreateInstance(myToastEl).show()
			}
		</script>
	<% } %>
	
	<% if (!isAuthenticated) { %>
		<script>
			if (localStorage.getItem('isFirstView') === "true") {
				localStorage.setItem('isFirstView', false);
				const myToastEl = document.getElementById('toast')
				bootstrap.Toast.getOrCreateInstance(myToastEl).show()
			}
		</script>
	<% } %>

  </body>
</html>