<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

	<body>
		<%- include ('partials/loginToast') %>
			<%- include ('partials/nav') %>
				<div class="main-content">
					<div class="page-content h-100 d-flex flex-column justify-content-center align-items-center">
						<h1 class="text-center logo-font">Campus Connect</h1>
						<div class="col-lg-6 mx-auto">
							<p>Campus Connect is intended to help junior developers or graduate students to gain
								experience while tracking their skill’s progress needed to achieve their.</p>
							<p>Hiring a new employee can be time consuming and costly for companies. Campus
								Connect's objective is to connect companies who are looking to hire - to students to develop
								projects.</p>
							<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
								<% if (!isAuthenticated ){ %>
									<a href="/login">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										Login
								</a>

									<% } %>
									<a href="/projects">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										View Projects
								</a>

							</div>
						</div>
							<div>
								<img src="/images/homepage-projects.jpg" class="main-image"
									alt="Homepage Projects" width="700" height="500" loading="lazy">
							</div>
					</div>
			</div>

			<%- include ('partials/footer') %>
			<script src="../scripts/confetti.min.js"></script>
			<!-- Toast Code -->
			<% if (isAuthenticated ){ %>
			<script>
				const isFirstView = localStorage.getItem('isFirstView') || '';
				// localStorage only stores strings
				if (isFirstView !== "true") {
					localStorage.setItem('isFirstView', true);
					const myToastEl = document.getElementById('toast');
					bootstrap.Toast.getOrCreateInstance(myToastEl).show();
					let confetti = new Confetti('demo');
					confetti.setCount(75);
					confetti.setSize(5);
					confetti.setPower(75);
					confetti.setFade(false);
					confetti.destroyTarget(true);
					setTimeout(() => { myToastEl.click() }, 3000);
				}
			</script>
				<% } %>
			<% if (!isAuthenticated) { %>
				<script>
					if (localStorage.getItem('isFirstView') === "true") {
						localStorage.setItem('isFirstView', false);
						const myToastEl = document.getElementById('toast');
						bootstrap.Toast.getOrCreateInstance(myToastEl).show();
						let confetti = new Confetti('demo');
						confetti.setCount(75);
						confetti.setSize(5);
						confetti.setPower(75);
						confetti.setFade(false);
						confetti.destroyTarget(true);
						setTimeout(() => { myToastEl.click() }, 3000);
					}
				</script>
				<% } %>

	</body>

</html>