<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body>
    <div class="container">
      <%- include ('partials/nav') %>
        <h1>Project with one A and 3ds</h1>
        <%= JSON.stringify(data) %>
    </div>
    <%- include ('partials/footer') %>
  </body>

</html>